<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Materias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenedorCard">
    <ion-card>
      <ion-card-title>Creación de materia</ion-card-title>
      <ion-card-content>
        <form>
          <ion-input class="inputs" label="Nombre materia" labelPlacement="floating" fill="outline"></ion-input>
          <ion-input class="inputs" label="Semestre" labelPlacement="floating" fill="outline"></ion-input>
          <ion-input class="inputs" label="Código de la materia" labelPlacement="floating" fill="outline"></ion-input>
          <ion-input class="inputs" label="Horario" labelPlacement="floating" fill="outline"></ion-input>
          <ion-input class="inputs" label="Observaciones" labelPlacement="floating" fill="outline"></ion-input>
          <ion-button>Crear materia</ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>
