.inputs{
    margin-top: 20px;
    
}

.contenedorCard {
    display: flex;
    justify-content: center;
    align-items: center;  
}

ion-card {
    width: 280px;    
}

ion-card-title{
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
}

.btnContenedor {
    display: flex;
    flex-direction: row;
}

.btnCard {

    --border-radius: 16px;
    color: rgb(240, 248, 255);
    margin-top: 18px;
    
    font-weight: bold;
    font-size: 12px;
    
}